name: Release

on: push

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install dependencies
      run: npm ci
    - name: Lint
      run: npm run eslint

  build:
    needs: lint

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Upload build
      uses: actions/upload-artifact@v1
      with:
        name: build
        path: build

  release:
    needs: build

    runs-on: ubuntu-latest

    steps:
    - name: Echo
      run: echo "Release"

  deploy:
    needs: release

    runs-on: ubuntu-latest

    steps:
    - name: Deploy
      run: echo "Deploy"